* {
  font-family: Amiri;
}

h3 {
  font-size: 25px;
  font-family: "El Messiri";
}

p {
  font-size: 23px;
}

q {
  font-size: 27px;
}

/*auto slide*/
#view {
  margin-top: 79px;
}

.carousel-caption {
  width: fit-content;
  bottom: 40px;
  background-color: #aaaaaab0;
}

.menu {
  background-color: #aaa;
  padding: 20px 20px;
  min-height: 300px;
}

.menu a {
  text-decoration: none;
}

.menu img {
  transition: all 1s ease;
  position: relative;
  width: 120px;
  height: 120px;
  margin-top: 50px;
  animation: pulse 1.3s infinite;
}

.menu img:hover {
  transform: scale(1.150);
}

.menu svg {
  /* color:orange; */
  position: relative;
  top: 20px;
  right: 25px;
  font-size: 130px;
  display: inline-block;
  animation: bounce 800ms infinite;
}

.menu p {
  margin-top: 30px;
}

/*new dishes*/
.new-dishes {
  padding-top: 10px;
  min-height: 200px;
  min-width: 200px;
  background-color: crimson;
}

.new-dishes h3 {
  color: orange
}

/*announcement section*/
#latest-announcement {
  padding-top: 20px;
  padding-bottom: 20px;
  min-height: 290px;
  background-color: rgba(197, 197, 197, 0.171) !important;
}

.content {
  word-wrap: break-word;
}

.content .img {
  max-width: 100px;
}

.content .label {
  border-bottom: 1px dashed #2c2d334f;
}

.date {
  bottom: 14px;
  font-size: 20px;
}

.content .date svg {
  color: #f48e22;
}

/*testimonials section (opinions)*/
.testimonials {
  padding-top: 30px;
  direction: rtl;
  background-color: #dbd5d5c0 !important;
}

.testimonials>h3 {
  color: rgb(53, 84, 170);
}

p[indicator="person=name"] {
  color: rgb(255, 0, 0);
}

#testimonials .carousel-indicators {
  top: 100px;
}

#opinions {
  bottom: 91px;
}

#testimonials .carousel-indicators button {
  text-indent: 0;
  height: 50px;
  width: 50px;
  top: 10px;
  background-color: #00000000;
  margin: 12px;
  transition: all 0.8s ease-in-out;
}

#testimonials .carousel-indicators .active img {
  outline: solid 3px darkgray;
}

#testimonials .carousel-indicators button img {
  max-width: 50px;
  border-radius: 25px;
}

/*footer*/
footer {
  background-color: #282932;
}

.main-title {
  position: relative;
  font-family: "El Messiri";
  width: fit-content;
}

.main-title::after {
  content: '';
  position: absolute;
  height: 5px;
  width: 100%;
  bottom: -10px;
  right: 0px;
  background-color: #f48e22;
  border-radius: 5px;
}

footer .image {
  max-width: 150px;
}

footer svg {
  color: #f48e22;
}

footer .creator {
  background-color: #373844;
}

footer .qr-image {
  max-width: 170px;
  max-height: 170px;
}

/*grouping*/
.date,
.testimonials,
#testimonials .carousel-indicators,
#opinions {
  position: relative;
}

#testimonials .carousel-indicators .active img,
.content {
  overflow: hidden;
}

#view,
.new-dishes {
  direction: ltr;
}

/*animation*/
@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes bounce {

  0%,
  10%,
  20%,
  40%,
  50%,
  80%,
  100% {
    transform: translateX(0px);
  }

  30%,
  60% {
    transform: translateX(20px);
  }
}