* {
  font-family: Amiri;
}

h3 {
  font-size: 25px;
  font-family: "El Messiri";
}

p {
  font-size: 23px;
}

q {
  font-size: 27px;
}

/* landing page */

@media(max-width: 768px)
{
  header {
    margin-top: 50px;
  }
}
header .img {
  background: url('../photoes/homepage/cover.png') center center no-repeat;
  background-size: cover;
  height: 100vh;
}

header .btn {
  background-color: #f48e22;
  color: white;
  width: fit-content;
  transition: 400ms;
}

header .btn:hover{
  color: #f48e22;
  background-color:white
}

/*auto slide*/
.carousel-caption {
  width: fit-content;
  bottom: 40px;
  background-color: #aaaaaab0;
}

.menu {
  background-color: #f48e22;
}

.menu a {
  text-decoration: none;
}

.menu img {
  transition: all 1s ease;
  position: relative;
  width: 120px;
  height: 120px;
  margin-top: 50px;
  animation: pulse 1.3s infinite;
}

.menu img:hover {
  transform: scale(1.150);
}

.menu i {
  /* color:orange; */
  position: relative;
  top: 55px;
  right: 25px;
  font-size: 100px;
  display: inline-block;
  animation: bounce 800ms infinite;
}

.menu p {
  margin-top: 30px;
}

/*new dishes*/
.new-dishes {
  padding-top: 10px;
  min-height: 200px;
  min-width: 200px;
  background-color: crimson;
}

.new-dishes h3 {
  color: orange
}

/*announcement section*/
.latest-announcement {
  word-wrap: break-word;
}

.latest-announcement .img {
  max-width: 100px;
}

.latest-announcement .label {
  border-bottom: 1px dashed #2c2d334f;
}

.latest-announcement .date {
  bottom: 14px;
  font-size: 20px;
}

.latest-announcement .date i {
  position: relative;
  color: #f48e22;
  font-size: 18px;
}

/*testimonials section (opinions)*/
.testimonials {
  padding-top: 30px;
  direction: rtl;
  background-color: #ebecea !important;
  overflow: hidden;
}

@media(min-width: 992px)
{
  .testimonials::before {
    content: '';
    position: absolute;
    width: 512px;
    height: 512px;
    background: url('../photoes/homepage/orange-circle.png');
    top: -15%;
    right: -15%;
    opacity: .6;
    z-index: -1;
}

.testimonials::after {
  content: '';
  position: absolute;
  width: 512px;
  height: 512px;
  background: url('../photoes/homepage/orange-circle.png');
  bottom: -15%;
  left: -15%;
  opacity: .6;
  z-index: -1;
}
}

.testimonials .active {
  background-color: #f48e22 !important;
}

@media (min-width: 992px) {
    .testimonials .opinion:nth-of-type(2).active {
      transform: translateY(-30px);
    }
}

.testimonials .active p , .testimonials .active h3{
  color: white !important;
}

.testimonials .opinion.active  .icon::before
{
  background-color: white;
}

.testimonials > h3 {
  color: rgb(53, 84, 170);
}

.testimonials i {
  position: relative;
  top: 5px;
}

.testimonials .opinions {
  grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
  gap: 20px;
}

.testimonials .opinion {
 background-color: #feffff;
 position: relative;
}

.testimonials .opinion  .icon {
  max-width: 75px;
  position: absolute;
  left:50%;
  top: -50px;
  transform: translateX(-50%);
}

.testimonials .opinion  .icon::before {
  content: '';
  position: absolute;
  width: 110px;
  height: 110px;
  background-color: #ddd;
  z-index: -1;
  transform: translateX(-50%);
  left:50%;
  top: -15px;
  border-radius: 50% ;
}

.testimonials .opinion .comment::before {
  content: '\F6B0';
  font-family: 'bootstrap-icons';
  font-size: 80px;
  left: 50%;
  transform: translateX(-50%);
  top: -130px;
  position: absolute;
  opacity: .5
}

.testimonials .opinion .comment {
  margin-top: 150px !important;
}
/*footer*/
footer {
  background-color: #282932;
}

.main-title {
  position: relative;
  font-family: "El Messiri";
  width: fit-content;
}

.main-title::after {
  content: '';
  position: absolute;
  height: 5px;
  width: 100%;
  bottom: -10px;
  right: 0px;
  background-color: #f48e22;
  border-radius: 5px;
}

footer .image {
  max-width: 150px;
}

footer i {
  font-size: 16px;
  color: #f48e22;
}

footer .creator {
  background-color: #373844;
}

footer .qr-image {
  max-width: 170px;
  max-height: 170px;
  border: 3px dashed #f48e22;
}

/*grouping*/

#view,
.new-dishes {
  direction: ltr;
}

/*animation*/
@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes bounce {

  0%,
  10%,
  20%,
  40%,
  50%,
  80%,
  100% {
    transform: translateX(0px);
  }

  30%,
  60% {
    transform: translateX(20px);
  }
}