* {
  font-family: Amiri;
}

p {
  font-size: 23px;
}

/* Frequently Used  */
.main-title {
  position: relative;
  font-family: "El Messiri";
  width: fit-content;
}

.main-title::after {
  content: '';
  position: absolute;
  height: 5px;
  width: 100%;
  bottom: -10px;
  right: 0px;
  background-color: #f48e22;
  border-radius: 5px;
}

/* landing page */

@media(max-width: 768px)
{
  header {
    margin-top: 100px;
  }
  header .btn {
    margin: 0px auto;
  }
}

@media(min-width:992px)
{
  header {
    margin-top: 78px; 
  }
}

@media(min-width: 1200px)
{
  header .caption::before {
    position: absolute;
    content: '';
    width: 256px;
    height: 205px;
    position: absolute;
    background: url('../photoes/homepage/pan.png') center center no-repeat;
    background-size: cover;
    z-index: -1;
    bottom: -25%;
    right: 50%;
    opacity: .5;
    z-index: -1;
  }
}
header .img {
  background: center center no-repeat;
  height: 570px;
  animation: 16s changeBackgroundImage infinite alternate;
}

header .btn {
  background-color: #f48e22;
  width: fit-content;
  position: relative;
  color: #fff;
  border: none;
  overflow: hidden;
  transition: all 0.4s ease;
  z-index: 1;
  border: 1px solid #f48e22c9;
  box-shadow: 0 0 10px #f48e22c9;
  overflow: visible;
}

header .btn:hover {
  color: #f48e22;
  background-color: white
}

header .btn::before,
header .btn::after {
  content: "";
  position: absolute;
  inset: -4px;
  border: 2px solid #f48e22;
  border-radius: inherit;
  animation: pulseOut 2s ease-out infinite;
  opacity: 0;
}

header.btn::after {
  animation-delay: 1s;
}

/*announcement section*/

.latest-announcement .animatable
{
  opacity: 0;
  transition: 800ms;
}


.latest-announcement .animatable:nth-of-type(1),
.latest-announcement .animatable:nth-of-type(4),
.latest-announcement .animatable:nth-of-type(7) {
  transition-delay: 0.2s;
}

.latest-announcement .animatable:nth-of-type(2),
.latest-announcement .animatable:nth-of-type(5),
.latest-announcement .animatable:nth-of-type(8) {
  transition-delay: 0.4s;
}

.latest-announcement .animatable:nth-of-type(3),
.latest-announcement .animatable:nth-of-type(6),
.latest-announcement .animatable:nth-of-type(9) {
  transition-delay: 0.6s;
}


.latest-announcement .start-animation {
  opacity: 1;
}

@media(min-width: 992px)
{

  .latest-announcement .container::before ,
  .latest-announcement .container::after {
    content: '';
    position: absolute;
    background-size: cover;
    z-index: -1;
    opacity: .6;
    width: 256px;
    height: 256px;
    top: -100%;
    transition: 1s;
    transition-delay: 1s;
  }

  .latest-announcement.animatable .container::before {
    background: url('../photoes/homepage/decoration.png') center center no-repeat;
    right: -10%;
  }
  
  .latest-announcement.animatable .container::after {
    background: url('../photoes/homepage/ramadan-decorations.png') center center no-repeat;
    left: -10%;
  }

  .latest-announcement.start-animation .container::before , 
  .latest-announcement.start-animation .container::after {
  transform: translateY(0px);
  top: -73px;
  }
}

.latest-announcement .img {
  max-width: 100px;
}

.latest-announcement .label {
  border-bottom: 1px dashed #2c2d334f;
}

.latest-announcement .date {
  bottom: 14px;
  font-size: 20px;
}

.latest-announcement .date i {
  position: relative;
  color: #f48e22;
  font-size: 18px;
}

/*testimonials section (opinions)*/
.testimonials {
  padding-top: 30px;
  direction: rtl;
  background-color: #ebecea !important;
  overflow: hidden;
}

@media(min-width: 992px) {

  .testimonials .container::before , .testimonials .container::after {
    content: '';
    position: absolute;
    width: 512px;
    height: 512px;
    background: url('../photoes/homepage/orange-circle.png');
    z-index: -1;
    opacity: .6;
    transition: 1s;
  }
  .testimonials .container::before {
    right: -100%;
    top: -15%;
    transition-delay: 200ms;
  }
  
  .testimonials .container::after {
    bottom: -15%;
    left: -100%;
    transition-delay: 2s;
  }

  .testimonials.start-animation .container::before
  {
    right: -25%;
  }
  
  .testimonials.start-animation .container::after
  {
    left: -25%;
  }

}

.testimonials .active {
  background-color: #f48e22 !important;
}

@media (min-width: 1200px) {
  .testimonials .opinion.active {
    transform: translateY(-30px);
  }
}

.testimonials .active p,
.testimonials .active h3 {
  color: white !important;
}

.testimonials .opinion.active .icon::before {
  background-color: white;
}

.testimonials .main-title {
  color: rgb(78, 53, 170);
}

.testimonials i {
  position: relative;
  top: 5px;
}

@media(max-width: 768px)
{
  .testimonials .opinions {
    grid-template-columns: repeat(1 , 1fr);
    gap: 40px;
  }
}

@media(min-width: 992px)
{ 
  .testimonials .opinions {
    grid-template-columns: repeat(2 , 1fr);
    gap: 20px;
  }
}

@media(min-width: 1200px)
{
  .testimonials .opinions {
    grid-template-columns: repeat(3 , 1fr);
    gap: 40px;
  }
}
.testimonials .opinion {
  background-color: #feffff;
  position: relative;
  opacity: 0;
  transition: 800ms;
}

.testimonials .opinion:nth-of-type(1)
{
  transition-delay: .2s;
}

.testimonials .opinion:nth-of-type(2)
{
  transition-delay: .4s;
}


.testimonials .opinion:nth-of-type(3)
{
  transition-delay: .6s;
}


.testimonials .opinion.start-animation {
  opacity: 1;
}

.testimonials .opinion .icon {
  max-width: 75px;
  position: absolute;
  left: 50%;
  top: -50px;
  transform: translateX(-50%);
}

.testimonials .opinion .icon::before {
  content: '';
  position: absolute;
  width: 110px;
  height: 110px;
  background-color: #ddd;
  z-index: -1;
  transform: translateX(-50%);
  left: 50%;
  top: -15px;
  border-radius: 50%;
}

.testimonials .opinion .person-name {
  font-family: "El Messiri";
}

.testimonials .opinion .comment {
  margin-top: 150px !important;
}

.testimonials .opinion .comment::before {
  content: '\F6B0';
  font-family: 'bootstrap-icons';
  font-size: 80px;
  left: 50%;
  transform: translateX(-50%);
  top: -130px;
  position: absolute;
  opacity: .5
}

/*footer*/
footer {
  background-color: #282932;
}

footer .image {
  max-width: 150px;
}

footer i {
  font-size: 16px;
  color: #f48e22;
}

footer .creator {
  background-color: #373844;
}

footer .qr-image {
  max-width: 170px;
  max-height: 170px;
  border: 3px dashed #f48e22;
}

footer .animatable {
  opacity: 0;
  transition: 500ms;
}

footer .animatable:nth-last-of-type(2)
{
  transition-delay: .2s;
}

footer .animatable:nth-last-of-type(1)
{
  transition-delay: .4s;
  
}

footer .animatable:nth-last-of-type(3)
{
  transition-delay: .6s;
  
}

footer .start-animation {
  opacity: 1;
}

/*animation*/
@keyframes pulseOut {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  100% {
    transform: scale(1.3);
    opacity: 0;
  }
}

@keyframes changeBackgroundImage {
  0% {
  background-image: url('../photoes/homepage/cover.png');

  }

  25%{
  background-image: url('../photoes/homepage/scene1.jpg');
  }

  50% {
  background-image: url('../photoes/homepage/scene2.jpg');
  }

  100% {
    background-image: url('../photoes/homepage/scene3.jpg');
  }
}