* {
    font-family: Amiri;
}

h5 {
    font-size: 25px;
    font-family: "El Messiri";
}

.offers {
    margin-top: 100px;
}

.offers .card {
    position: relative;
}

.offers .card::before {
    content: '';
    position: absolute;
    top: 106px;
    right: 28px;
    border: 12px solid white;
    border-color: transparent transparent white transparent;
    z-index: 2;
}

.offers .card::after {
    content: 'عرض خاص';
    position: absolute;
    width: fit-content;
    height: 130px;
    top: 0px;
    right: 25px;
    font-size: 20px;
    writing-mode: vertical-rl;
    background-color: #f48e22;
    color: white;

}

.offers .card-body {
    direction: rtl;
}

.offers .card-body ul li::before {
    content: '\F582';
    font-family: "bootstrap-icons";
    font-size: 13px;
    color: #f48e22;
    margin-inline-end: 10px;
    top: 50%;
    transform: translateY(-50%);
    position: relative;
}

.offers .card-body .icon {
    position: absolute;
    left: 10px;
    top: 71%;
    opacity: .4;
    transform: rotateY(180deg);
}

@media(min-width: 992px) {
    .offers .row {
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
        gap: 40px;
    }
}