/*importing fonts*/
@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Beiruti:wght@200..900&family=Cairo:wght@200..1000&family=El+Messiri:wght@400..700&family=Noto+Naskh+Arabic:wght@400..700&family=Rajdhani:wght@300;400;500;600;700&family=Tajawal:wght@200;300;400;500;700;800;900&family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&family=Zen+Maru+Gothic&display=swap');
/*other customization*/
* { z-index: 0; }
*::selection { background-color:black; }
div { transition:all 0.9s ease-in-out; }
body{
    background-color: #eee;
	min-height: 630px;
    direction: rtl;
}
/*navigation bar*/
.navbar{
    z-index: 1;
    direction: ltr;
}
.navbar-brand { transition: all 0.8s ease-out; font-size:20px; font-family: Cairo;}
.navbar-brand img {
    max-width: 60px;
    max-height: 60px;
}
.nav-link.active
{
    left:10px;
    background:rgb(241, 240, 240);
    border-radius:8px;
    padding-right: 15px;
    color: #f48e22 !important;
} 
.navbar-collapse { padding-top:10px; direction: rtl; }
.nav-link { transition: all 0.4s ease-out; font-size:20px;font-family:Tajawal }
.navbar-toggler { border-radius:90px; width: 60px; }
/*loading page*/
#loading-page 
{
	height: 100%;
	background-color: #555;
    transition: all 0.1s ease;
    z-index: 2;
}
.content-of-loading-page { margin-top: 80px auto; text-align:center; }
.content-of-loading-page p{ font-size: 25px; font-weight: bold;  }
.content-of-loading-page img
{
	width:200px;
	height: 200px;
	display: block;
	margin: 160px auto 20px auto;
}
.loader {
    width: 80px;
    height: 80px;
    margin-inline: auto;
    border-radius: 50%;
    border: 8px solid #d1914b;
    box-sizing: border-box;
    --c:no-repeat radial-gradient(farthest-side, #d64123 94%,#0000);
    --b:no-repeat radial-gradient(farthest-side, #000 94%,#0000);
    background:
      var(--c) 11px 15px,
      var(--b) 6px 15px,    
      var(--c) 35px 23px,
      var(--b) 29px 15px,    
      var(--c) 11px 46px,
      var(--b) 11px 34px,    
      var(--c) 36px 0px,
      var(--b) 50px 31px,
      var(--c) 47px 43px,
      var(--b) 31px 48px,    
      #f6d353; 
    background-size: 15px 15px,6px 6px;
    animation: l4 2s infinite;
  }
  @keyframes l4 {
    0%     {-webkit-mask:conic-gradient(#0000 0     ,#000 0)}
    16.67% {-webkit-mask:conic-gradient(#0000 60deg ,#000 0)}
    33.33% {-webkit-mask:conic-gradient(#0000 120deg,#000 0)}
    50%    {-webkit-mask:conic-gradient(#0000 180deg,#000 0)}
    66.67% {-webkit-mask:conic-gradient(#0000 240deg,#000 0)}
    83.33% {-webkit-mask:conic-gradient(#0000 300deg,#000 0)}
    100%   {-webkit-mask:conic-gradient(#0000 360deg,#000 0)}
  }
/*grouping*/
*::selection ,
.navbar-brand ,
.navbar-nav a:hover ,
.nav-link.active:hover ,
.content-of-loading-page ,
.nav-link.active
{
    color:#f48e22;
}
.navbar , 
#loading-page 
{
    top:0px;
    left:0px;
    position: fixed;
	width: 100%;
}

@media(max-width: 992px)
{
    .navbar-nav a:hover,.nav-link.active:hover { padding-right: 20px; }
}
/*back button to the top of the page*/
#backToTopBtn 
{
    display:block;
    opacity:0;
    position: fixed;
    transition: 0.6s all ease-in-out;
    top:93%;
    left:88%;
    background-color: #ddd;
    min-width:30px;
    min-height: 30px;
    border-radius:12px;
}
#backToTopBtn:hover
{
   box-shadow:
    6px 6px 6px #babecc
,  -6px -6px 6px #babecc 
,  -6px 6px 6px #babecc
,   6px -6px 6px #babecc;
}
#backToTopBtn a
{
    width:100%;
    color: #f48e22;
}